@charset "UTF-8";

/* 共通 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
body {
  color: #333;
  font-family: Raleway;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: bottom;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.btn {
  color: #fff;
  font-size: 12px;
  background-color: #74cfae;
  font-family: Lato;
  transition: 0.3s;
}
.btn:hover {
  color: #222;
}
.sp-menu {
  display: none;
}
/* 共通 */


/* headerここから */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
  z-index: 1;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contact-btn {
  padding: 14px 12px;
}
.header__icon {
 height: 40px;
 padding: 15px 0;
 font-size: 40px;
}
/* headerここまで */

/* titleここから */
.title {
  background-color: #f2f2f2;
  padding: 320px 0 250px;
}
.title__h1 {
  margin-bottom: 20px;
  color: #74cfae;
  font-size: 90px;
  line-height: 90px;
  font-weight: 700;
  font-family: Lato;
  text-align: center;
}
.title__h2 {
  color: #c0c0c0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}
/* titleここまで */

/* section共通ここから */
.section__h2 {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
/* section共通ここまで */

/* section__themeここから */
.section-theme {
  padding-top: 50px;
  background-color: #74cfae;
}
.section-theme__inner {
  display: flex;
  align-items: flex-start;
}
.section-theme__image {
  width: 40%;
  text-align: center;
}
.section-theme__txt {
  width: 60%;
  text-align: center;
}
.section-theme .section__h2 {
  margin: 10px 0 35px;
}
.section-theme .section__txt {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
/* section__themeここまで */

/* articleここから */
.article-work {
  padding: 60px 0 70px;
  background-color: #f2f2f2;
}
.article__h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}
.article__thumbnail-list {
  display: flex;
  flex-wrap: wrap;
}
.article__thumbnail-item {
  margin-right: 100px;
  margin-bottom: 80px;
}
.article__thumbnail-item:nth-child(3n) {
  margin-right: 0;
}
.article__thumbnail-item:nth-last-child(-n+3) {
  margin-bottom: 90px;
}
.article__thumbnail-link {
  opacity: 0.7;
  transition: 0.3s;
}
.article__thumbnail-link:hover {
  opacity: 1;
}
.article__contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.article__contact-txt {
  width: 610px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
.article__contact-btn {
  padding: 14px 20px;
  margin: 10px 0 0 90px;
}
/* articleここまで */


/* section__skillsここから */
.section__skills {
  padding: 70px 0 100px;
  background-color: #4e4e4e;
}
.section__skills .section__h2 {
  margin-bottom: 70px;
}
.section__skills-list {
  display: flex;
  justify-content: center;
}
.section__skills-item {
  margin-left: 180px;
}
.section__skills-item:first-child {
  margin-left: 0;
}
.section__skills-name {
  margin-top: 15px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-align: center;
}
/* section__skillsここまで */

/* navここから */
.nav {
  padding: 200px 0;
  background-color: #f2f2f2;
}
.nav__list {
  display: flex;
  align-items: center;
  font-size: 50px;
  justify-content: center;
}
.nav__item {
  width: 185px;
  color: #74cfae;
  text-align: center;
}
.nav__item-btn {
  display: block;
  padding: 30px 0;
  color: #74cfae;
  transition: 0.3s;
}

.nav__item-btn:hover {
  background-color: #fff;
}
/* navここまで */

/* footerここから */
.footer {
  background-color: #74cfae;
}
.footer-txt {
  padding: 20px 0 25px;
  font-size: 16px;
  color: #fff;
  text-align: right;
}
/* footerここまで */

/* タブレット */
@media screen and (min-width: 768px) and (max-width: 1199px) {

  /* 共通 */
  .inner {
    width: 97%;
    margin: 0 auto;
  }
  /* 共通 */

  /* section__themeここから */
  .section-theme {
    padding-bottom: 20px;
  }

  .section-theme__inner {
    display: block;
  }
  .section-theme__image {
    width: auto;
  }
  .section-theme__txt {
    width: 70%;
    margin: 20px auto 0;
  }
  .section-theme .section__h2 {
    margin: 0 0 35px;
  }
  /* section__themeここまで */

  /* articleここから */
  .article__thumbnail-list {
    display: block;
  }
  .article__thumbnail-item {
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .article__thumbnail-item:nth-child(3n) {
    margin-bottom: 80px!important;
  }
  .article__thumbnail-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .article__thumbnail-link {
    display: inline-block;
  }
  .article__contact {
    display: block;
    text-align: center;
  }
  .article__contact-txt {
    width: auto;
    margin: 0 auto 40px;
  }
  .article__contact-btn {
    display: inline-block;
    margin: 0;
  }
  /* articleここまで */

  /* section__skillsここから */
  .section__skills-list {
    display: block;
  }
  .section__skills-item {
    margin-left: 0;
    text-align: center;
  }
  .section__skills-name {
    margin-bottom: 88px;
  }
  .section__skills-item:last-child .section__skills-name {
    margin-bottom: 0;
  }
  /* section__skillsここまで */


}
/* タブレット */

/* スマホ */
@media screen and (max-width: 767px) {
  /* 共通 */
  .inner {
    width: 97%;
  }
  .sp-menu {
    position: relative;
    display: block;
    width: 20px;
    height: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .sp-menu__line {
    display: inline-block;
    width: 20px;
    height: 2px;
    vertical-align: middle;
    background-color: #ccc;
  }
  .sp-menu__line::before, .sp-menu__line::after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #ccc;
  }
  .sp-menu__line::before {
    top: 10px;
  }
  .sp-menu__line::after {
    bottom: 10px;
  }
  /* 共通 */

  /* headerここから */
  .header__contact-btn {
    display: none;
  }
  /* headerここまで */

  /* titleここから */
  .title {
    padding: 230px 0 130px;
  }
  .title__h1 {
    font-size: 80px;
    line-height: 80px;
  }
  .title__h2 {
    color: #c0c0c0;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
  /* titleここまで */

  /* section__themeここから */
  .section-theme {
    padding: 50px 0 25px;
  }
  .section-theme__inner {
    display: block;
  }
  .section-theme__image {
    width: auto;
    text-align: center;
  }
  .section-theme__txt {
    width: auto;
    text-align: center;
  }
  /* section__themeここまで */

  /* articleここから */
  .article__thumbnail-list {
    display: block;
  }
  .article__thumbnail-item {
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .article__thumbnail-item:nth-child(3n) {
    margin-bottom: 80px!important;
  }
  .article__thumbnail-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .article__thumbnail-link {
    display: block;
  }
  .article__thumbnail-image {
    width: 100%;
  }
  .article__contact {
    display: block;
    text-align: center;
  }
  .article__contact-txt {
    width: auto;
    margin: 0 auto 40px;
  }
  .article__contact-btn {
    display: inline-block;
    margin: 0;
  }
  /* articleここまで */

  /* section__skillsここから */
  .section__skills-list {
    display: block;
  }
  .section__skills-item {
    margin-left: 0;
    text-align: center;
  }
  .section__skills-name {
    margin-bottom: 88px;
  }
  .section__skills-item:last-child .section__skills-name {
    margin-bottom: 0;
  }
  /* section__skillsここまで */

  /* navここから */
  .nav {
    padding: 50px 0;
    background-color: #f2f2f2;
  }
  .nav__list {
    display: block;
    font-size: 50px;
  }
  .nav__item {
    width: 100%;
  }
  /* navここまで */
}
 /* スマホ */